// Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-grid-classes: $include-html-classes;
// $include-xl-html-grid-classes: false;

// $row-width: rem-calc(1000);
// $total-columns: 12;
// $column-gutter: rem-calc(30);

// $last-child-float: $opposite-direction;