////////////////////////////////////////////////////////////////////////////////
// Media query mixin
// $breakpoints sass-map is defined in _settings.scss
////////////////////////////////////////////////////////////////////////////////

@mixin smaller-than($point-name) {
	$width: map-get($breakpoints, $point-name);
	@media (max-width: $width) {
		@content;
	}
}

@mixin larger-than($point-name) {
	$width: map-get($breakpoints, $point-name);
	@media (min-width: $width) {
		@content;
	}
}
