#masthead {
	background: #ccc;
}

.site-branding {
	margin-bottom: 1.25rem;
}

.site-title {
	font-size: 3rem;
	margin: 0;
}

.site-description {
	margin: 0;
}

.main-navigation {
	background: #333;
}

.main-navigation ul {
	margin: 0;
}