#content {
	margin: 2rem 0;
}

.entry-meta {
	margin-bottom: 1.25rem;
}

.updated {
	display: none;
}

.vcard {
	display: inherit;
	padding: 0;
	border: none;
	margin: 0;
}

.vcard .fn {
	font-weight: normal;
	font-size: 1rem;
}

.entry-content p {
	margin-bottom: 1.25rem;
}